// import fonts
@import './fonts';

// import fontawesome
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

// @import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import './../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import './../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import './../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss';
@import './../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';

// import variables
@import './variables';

// import reset
@import './reset';

body {
  margin: 0;
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 24px;
  color: $brand-primary;
}

.container {
  width: 1276px;
  margin: 0 auto;
}

// header
.header-nav {
  p {
    display: inline;
  }
  ul {
    float: right;
    display: flex;
  }
}

.map {
  margin: 0 auto 30px auto;
  width: auto;
}

.dateInput {
  display: none;
}

.dateInputSee {
  display: block;
}

.button {
  background-color: #fff;
  color: #000;
  display: inline-block;
  text-align: center;
  border: none;
}

header {
  padding: 25px 0 15px 0;
  font-size: 30px;
  font-family: 'Montserrat', serif;

  .addspot {
    margin-right: 15px;
  }
}

.location {
  margin-bottom: 25px;
}

.date {
  margin-top: 30px;
}
